<div class="weather-display">
  <div class="weather-week-next">
    <div class="weather-of-day">
      <div class="week-info">
        <span>24</span>
        <span>ºC </span>
      </div>
      <img src="./assets/image/nuven-icon.png" alt="">
      <p>Fri</p>
    </div>
  </div>

  <div class="weather-week">
    <div class="weather-of-day">
      <div class="week-info">
        <span>24</span>
        <span>ºC </span>
      </div>
      <img src="./assets/image/nuven-icon.png" alt="">
      <p>Sat</p>
    </div>
  </div>

  <div class="weather-week">
    <div class="weather-of-day">
      <div class="week-info">
        <span>27</span>
        <span>ºC </span>
      </div>
      <img src="./assets/image/nuven-icon.png" alt="">
      <p>Sun</p>
    </div>
  </div>

  <div class="weather-week">
    <div class="weather-of-day">
      <div class="week-info">
        <span>27</span>
        <span>ºC </span>
      </div>
      <img src="./assets/image/nuven-icon.png" alt="">
      <p>Mon</p>
    </div>
  </div>
  <img src="./assets/image/next.png" alt="">
</div>
